{% extends "base.html" %}

{% block content %}

<div class="consultation-container">

    <h1>Appointments</h1>

    {% for appointment in appointments %}

    <div class="feature-card" style="margin-bottom:25px;">

        <p><strong>ID:</strong> {{ appointment.id }}</p>

        <p><strong>Name:</strong> {{ appointment.name }}</p>

        <p><strong>Email:</strong> {{ appointment.email }}</p>
        <p><strong>Practice:</strong> {{ appointment.practice }}</p>

        <p><strong>Date:</strong> {{ appointment.preferred_date }}</p>

        <p><strong>Time:</strong> {{ appointment.preferred_time }}</p>

        <p><strong>Reason:</strong> {{ appointment.reason }}</p>

{% if appointment.status == "Awaiting Payment" %}
    <p><strong>Status:</strong>
       <span style="color:orange;">
           {{ appointment.status }}
       </span>
    </p>
    
{% elif appointment.status == "Paid" %}
    <p><strong>Status:</strong>
       <span style="color:blue;">
           {{ appointment.status }}
       </span>
    </p>

{% elif appointment.status == "Confirmed" %}
    <p><strong>Status:</strong>
       <span style="color:green;">
           {{ appointment.status }}
       </span>
    </p>

{% elif appointment.status == "Completed" %}
    <p><strong>Status:</strong>
       <span style="color:darkgreen;">
           {{ appointment.status }}
       </span>
    </p>

{% else %}
    <p><strong>Status:</strong> {{ appointment.status }}</p>
{% endif %}
        
    <div style="margin-top:15px;">

        <a href="/appointment-status/{{ appointment.id }}/Awaiting Payment"
           class="btn-primary">
           Awaiting Payment
        </a>

        <a href="/appointment-status/{{ appointment.id }}/Paid"
           class="btn-primary">
           Paid
        </a>

        <a href="/appointment-status/{{ appointment.id }}/Confirmed"
           class="btn-primary">
           Confirmed
        </a>

        <a href="/appointment-status/{{ appointment.id }}/Completed"
           class="btn-primary">
           Completed
        </a>

    </div>

        <p><strong>Created:</strong> {{ appointment.created_at }}</p>

        <p>

        Delete URL:
        {{ appointment.id }}
        </p>

        <a href="/delete-appointment/{{ appointment.id }}">
        Delete Appointment
        </a>
        
{% endblock %}
