<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    <script>
window.addEventListener("scroll", function () {
    const navbar = document.querySelector(".navbar");
    if (window.scrollY > 20) {
        navbar.classList.add("scrolled");
    } else {
        navbar.classList.remove("scrolled");
    }
});
</script>

<body>

   <nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="/">Gyne Consulting</a>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/consultation" class="btn-nav">Book Consultation</a>
        </div>
    </div>
</nav>

   <main>
        {% block content %}{% endblock %}
   </main>

</body>
</html>
