<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

   <nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="/">Gyne Consulting</a>
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</nav>

   <main></main>
        {% block content %}{% endblock %}
   </main>

</body>
</html>
