{% extends "base.html" %}

{% block content %}

<section class="consultation-section">

    <div class="consultation-container">

        <h1>Admin Login</h1>

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <input type="password"
                   name="password"
                   placeholder="Enter Admin Password"
                   required>

            <button type="submit" class="btn-primary">

                Login

            </button>

        </form>

    </div>

</section>

{% endblock %}
