{% extends "base.html" %}

{% block title %}Thank You{% endblock %}

{% block content %}
<div class="container">
    <h2>Thank you for your submission</h2>

    <p>Your consultation request has been received securely.</p>

    <p>
        Dr Dariusz will personally review your information and contact you by email within 24 hours</p>.
    
    <hr>

    <h3>What happens next?</h3>

    <ul>
        <li>Your submission has been securely received.</li>
        <li>You will receive a personal response within 24 hours.</li>
    </ul>

    <p class="form-note">
    If your symptoms worsen or become urgent, please seek immediate in-person medical care.
    </p>

    <p style="margin-top:20px; font-size:14px; color:#666;">
    Thank you for placing your trust in Dr Dariusz Gynaecological Consults.
    </p>

    <p class="form-note">
        If your condition worsens or becomes urgent, please seek immediate in-person medical care.
    </p>
</div>
{% endblock %}
